



<ul class="character-list clearfix">
</ul>

<script id="character" type="text/html">
    <li class="character">
        <div>
            <#= actions #>
            <p class="name"><# =Name #></#></p>
            <p class="level"><# =Level #></p>
            <p class="race"><# =Race #></p>
            <p class="class"><# =Class #></p>
            <p class="faction"><# =Faction #></p>
        </div>
        <figure></figure>
    </li>
</script>